## Imports

In [ ]:
# Basic
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from dotenv import load_dotenv

# MlFlow
import mlflow
import mlflow.sklearn

# Sklearn
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.metrics import accuracy_score
from skopt import BayesSearchCV

# Model Abstraction
import model_functions as ModelFunctions
from model_functions import PARAM_GRID_RF, PARAM_GRID_GB, PARAM_GRID_KNN

# Warnings
import warnings
warnings.filterwarnings("ignore")

# Path
_ = load_dotenv()
FULL_PATH = os.environ.get('FULL_PATH')
PATH = os.path.join(FULL_PATH, 'datasets')

# Case: Predição de churn
___

Vamos trabalhar com a análise [desta base de dados](https://www.kaggle.com/datasets/shilongzhuang/telecom-customer-churn-by-maven-analytics?resource=download).

O churn é um dos principais problemas enfrentados por empresas dos mais diversos segmentos. É de muito interesse das empresas amenizar esse tipo de problema, já que o churn implica em perdas financeiras que podem ser bastante significativas.

Pensando nisso, você recebeu a tarefa de estudar o comportamento histórico de uma base de alguns usuários de uma empresa no setor de telecomunicações. Sua tarefa é identificar quais podem ser os principais fatores associados ao churn dos clientes, e desenhar estratégias para tentar antever o problema e tomar as devidas ações para minimizá-lo.

Por fim, você também deve produzir uma apresentação de Negócios com os principais resultados e recomendações.

Algumas perguntas para guiar a análise:
- Qual o perfil de cliente mais propenso ao churn?
- Quais os principais fatores envolvidos no churn dos clientes?
- Como se antecipar ao problema?
- Como conectar a análise a indicadores de negócio?

## Datasets

In [138]:
churn_path = os.path.join(PATH, 'telecom_customer_churn.csv')
df_churn = pd.read_csv(churn_path)

In [139]:
df_churn.head()

  Customer ID  Gender  ...   Churn Category                   Churn Reason
0  0002-ORFBO  Female  ...              NaN                            NaN
1  0003-MKNFE    Male  ...              NaN                            NaN
2  0004-TLHLJ    Male  ...       Competitor  Competitor had better devices
3  0011-IGKFF    Male  ...  Dissatisfaction        Product dissatisfaction
4  0013-EXCHZ  Female  ...  Dissatisfaction            Network reliability

[5 rows x 38 columns]

In [140]:
churn_columns = df_churn.columns.tolist()
churn_columns

['Customer ID',
 'Gender',
 'Age',
 'Married',
 'Number of Dependents',
 'City',
 'Zip Code',
 'Latitude',
 'Longitude',
 'Number of Referrals',
 'Tenure in Months',
 'Offer',
 'Phone Service',
 'Avg Monthly Long Distance Charges',
 'Multiple Lines',
 'Internet Service',
 'Internet Type',
 'Avg Monthly GB Download',
 'Online Security',
 'Online Backup',
 'Device Protection Plan',
 'Premium Tech Support',
 'Streaming TV',
 'Streaming Movies',
 'Streaming Music',
 'Unlimited Data',
 'Contract',
 'Paperless Billing',
 'Payment Method',
 'Monthly Charge',
 'Total Charges',
 'Total Refunds',
 'Total Extra Data Charges',
 'Total Long Distance Charges',
 'Total Revenue',
 'Customer Status',
 'Churn Category',
 'Churn Reason']

In [141]:
df_churn.shape

(7043, 38)

## Analise

## Tratando Dataframe

In [142]:
df_churn_filter = df_churn.copy()
df_churn_filter = df_churn_filter.drop(columns = [
    'City',
    'Zip Code',
    'Latitude',
    'Longitude',
    'Churn Category',
    'Churn Reason'
    ]
)

### Variaveis Categóricas para Numéricas

In [143]:
df_churn_filter.head()

  Customer ID  Gender  ...  Total Revenue Customer Status
0  0002-ORFBO  Female  ...         974.81          Stayed
1  0003-MKNFE    Male  ...         610.28          Stayed
2  0004-TLHLJ    Male  ...         415.45         Churned
3  0011-IGKFF    Male  ...        1599.51         Churned
4  0013-EXCHZ  Female  ...         289.54         Churned

[5 rows x 32 columns]

In [144]:
def yes_no_num(string: str) -> int:
    if string == 'Yes':
        return 1
    return 0

def gender_num(string: str) -> int:
    if string == 'Male':
        return 0
    return 1

def offer_num(string: str) -> int:
    if string == 'Offer A':
        return 1
    elif string == 'Offer B':
        return 2
    elif string == 'Offer C':
        return 3
    elif string == 'Offer D':
        return 4
    elif string == 'Offer E':
        return 5
    return 0

def internet_type_num(string: str) -> int:
    if string == 'Fiber Optic':
        return 1
    elif string == 'DSL':
        return 2
    elif string == 'Cable':
        return 3
    return 0

def contract_num(string: str) -> int:
    if string == 'Month-to-Month':
        return 1
    elif string == 'Two Year':
        return 2
    elif string == 'One Year':
        return 3
    return 0

def payment_method_num(string: str) -> int:
    if string == 'Bank Withdrawal':
        return 1
    elif string == 'Credit Card':
        return 2
    elif string == 'Mailed Check':
        return 3
    return 0

def customer_status_num(string: str) -> int:
    if string == 'Stayed':
        return 1
    elif string == 'Joined':
        return 2    
    return 0

def age_bracket(age: int) -> int:
    if age >= 78:
        return 5
    elif age >= 59:
        return 4
    elif age >= 43:
        return 3
    elif age >= 27:
        return 2
    else:
        return 1

In [145]:
yes_no_columns = ['Married', 'Phone Service', 'Multiple Lines', 'Internet Service', 'Online Security', 'Online Backup', 
                  'Device Protection Plan', 'Premium Tech Support', 'Streaming TV', 'Streaming Movies', 'Streaming Music',
                  'Unlimited Data', 'Paperless Billing']

In [146]:
for column in yes_no_columns:
    df_churn_filter[column] = df_churn_filter[column].apply(yes_no_num)
df_churn_filter['Gender'] = df_churn_filter['Gender'].apply(gender_num)
df_churn_filter['Age'] = df_churn_filter['Age'].apply(age_bracket)
df_churn_filter['Offer'] = df_churn_filter['Offer'].apply(offer_num)
df_churn_filter['Internet Type'] = df_churn_filter['Internet Type'].apply(internet_type_num)
df_churn_filter['Contract'] = df_churn_filter['Contract'].apply(contract_num)
df_churn_filter['Payment Method'] = df_churn_filter['Payment Method'].apply(payment_method_num)
df_churn_filter['Customer Status'] = df_churn_filter['Customer Status'].apply(customer_status_num)

In [147]:
df_churn_filter.head()

  Customer ID  Gender  ...  Total Revenue  Customer Status
0  0002-ORFBO       1  ...         974.81                1
1  0003-MKNFE       0  ...         610.28                1
2  0004-TLHLJ       0  ...         415.45                0
3  0011-IGKFF       0  ...        1599.51                0
4  0013-EXCHZ       1  ...         289.54                0

[5 rows x 32 columns]

### Preenchendo NaN em variáveis numéricas

In [148]:
numeric_colums = ['Avg Monthly Long Distance Charges', 'Avg Monthly GB Download', 'Monthly Charge', 
                  'Total Charges', 'Total Refunds', 'Total Long Distance Charges', 'Total Revenue']

In [149]:
for column in numeric_colums:
    df_churn_filter[column] = df_churn_filter[column].fillna(df_churn_filter[column].mean())

In [150]:
df_churn_filter

     Customer ID  Gender  ...  Total Revenue  Customer Status
0     0002-ORFBO       1  ...         974.81                1
1     0003-MKNFE       0  ...         610.28                1
2     0004-TLHLJ       0  ...         415.45                0
3     0011-IGKFF       0  ...        1599.51                0
4     0013-EXCHZ       1  ...         289.54                0
...          ...     ...  ...            ...              ...
7038  9987-LUTYD       1  ...        1349.74                1
7039  9992-RRAMN       0  ...        2230.10                0
7040  9992-UJOEL       0  ...         129.99                2
7041  9993-LHIEB       0  ...        4769.69                1
7042  9995-HOTOH       0  ...        3707.60                1

[7043 rows x 32 columns]

### Salvando Dataset do modelo

In [151]:
filtered_path = os.path.join(PATH, 'churn_model_dataset.csv')
df_churn_filter.to_csv(filtered_path, index=False)

## Dataframe Filtrado

In [194]:
df_churn_model = pd.read_csv(filtered_path)

In [195]:
df_churn_model_churned = df_churn_model[df_churn_model['Customer Status']==0].copy()
df_churn_model_churned.head()

   Customer ID  Gender  ...  Total Revenue  Customer Status
2   0004-TLHLJ       0  ...         415.45                0
3   0011-IGKFF       0  ...        1599.51                0
4   0013-EXCHZ       1  ...         289.54                0
18  0022-TCJCI       0  ...        3271.65                0
19  0023-HGHWL       0  ...          25.10                0

[5 rows x 32 columns]

In [196]:
df_churn_model_churned.shape

(1869, 32)

In [197]:
df_churn_model_stayed = df_churn_model[df_churn_model['Customer Status']>0].copy()
df_churn_model_stayed.head()

  Customer ID  Gender  ...  Total Revenue  Customer Status
0  0002-ORFBO       1  ...         974.81                1
1  0003-MKNFE       0  ...         610.28                1
5  0013-MHZWF       1  ...         722.38                1
6  0013-SMEOE       1  ...        8611.41                1
7  0014-BMAQU       0  ...        6214.28                1

[5 rows x 32 columns]

In [198]:
df_churn_model_stayed.shape

(5174, 32)

## Analise das colunas

### `Gender`

In [199]:
coluna = 'Gender'

In [200]:
df_churn_model_churned[coluna].value_counts(normalize=True)

Gender
1    0.502408
0    0.497592
Name: proportion, dtype: float64

In [201]:
df_churn_model_stayed[coluna].value_counts(normalize=True)

Gender
0    0.507344
1    0.492656
Name: proportion, dtype: float64

### `Age`

In [202]:
coluna = 'Age'

In [203]:
df_churn_model_churned[coluna].value_counts(normalize=True)

Age
4    0.303906
3    0.266988
2    0.266453
1    0.116640
5    0.046014
Name: proportion, dtype: float64

In [204]:
df_churn_model_stayed[coluna].value_counts(normalize=True)

Age
3    0.300928
2    0.300155
4    0.218593
1    0.157325
5    0.023000
Name: proportion, dtype: float64

### `Married`

In [205]:
coluna = 'Married'

In [206]:
df_churn_model_churned[coluna].value_counts(normalize=True)

Married
0    0.642055
1    0.357945
Name: proportion, dtype: float64

In [207]:
df_churn_model_stayed[coluna].value_counts(normalize=True)

Married
1    0.528218
0    0.471782
Name: proportion, dtype: float64

### `Offer`

In [208]:
coluna = 'Offer'

In [209]:
df_churn_model_churned[coluna].value_counts(normalize=True)

Offer
0    0.562333
5    0.227929
4    0.086142
2    0.054040
3    0.050829
1    0.018727
Name: proportion, dtype: float64

In [210]:
df_churn_model_stayed[coluna].value_counts(normalize=True)

Offer
0    0.546193
2    0.139737
1    0.093738
4    0.085234
5    0.073251
3    0.061848
Name: proportion, dtype: float64

### `Phone Service`

In [211]:
coluna = 'Phone Service'

In [212]:
df_churn_model_churned[coluna].value_counts(normalize=True)

Phone Service
1    0.909042
0    0.090958
Name: proportion, dtype: float64

In [213]:
df_churn_model_stayed[coluna].value_counts(normalize=True)

Phone Service
1    0.901044
0    0.098956
Name: proportion, dtype: float64

### `Multiple Lines`

In [214]:
coluna = 'Multiple Lines'

In [215]:
df_churn_model_churned[coluna].value_counts(normalize=True)

Multiple Lines
0    0.545211
1    0.454789
Name: proportion, dtype: float64

In [216]:
df_churn_model_stayed[coluna].value_counts(normalize=True)

Multiple Lines
0    0.590066
1    0.409934
Name: proportion, dtype: float64

### `Internet Service`

In [217]:
coluna = 'Internet Service'

In [218]:
df_churn_model_churned[coluna].value_counts(normalize=True)

Internet Service
1    0.93954
0    0.06046
Name: proportion, dtype: float64

In [219]:
df_churn_model_stayed[coluna].value_counts(normalize=True)

Internet Service
1    0.726904
0    0.273096
Name: proportion, dtype: float64

### `Internet Type`

In [220]:
coluna = 'Internet Type'

In [221]:
df_churn_model_churned[coluna].value_counts(normalize=True)

Internet Type
1    0.661316
2    0.164259
3    0.113965
0    0.060460
Name: proportion, dtype: float64

In [222]:
df_churn_model_stayed[coluna].value_counts(normalize=True)

Internet Type
1    0.347700
0    0.273096
2    0.259954
3    0.119250
Name: proportion, dtype: float64

### `Online Security`

In [223]:
coluna = 'Online Security'

In [224]:
df_churn_model_churned[coluna].value_counts(normalize=True)

Online Security
0    0.842162
1    0.157838
Name: proportion, dtype: float64

In [225]:
df_churn_model_stayed[coluna].value_counts(normalize=True)

Online Security
0    0.666796
1    0.333204
Name: proportion, dtype: float64

### `Online Backup`

In [226]:
coluna = 'Online Backup'

In [227]:
df_churn_model_churned[coluna].value_counts(normalize=True)

Online Backup
0    0.720171
1    0.279829
Name: proportion, dtype: float64

In [228]:
df_churn_model_stayed[coluna].value_counts(normalize=True)

Online Backup
0    0.63162
1    0.36838
Name: proportion, dtype: float64

### `Device Protection Plan`

In [ ]:
coluna = 'Device Protection Plan'

In [230]:
df_churn_model_churned[coluna].value_counts(normalize=True)

Device Protection Plan
0    0.7084
1    0.2916
Name: proportion, dtype: float64

In [231]:
df_churn_model_stayed[coluna].value_counts(normalize=True)

Device Protection Plan
0    0.637225
1    0.362775
Name: proportion, dtype: float64

### `Premium Tech Support`

In [232]:
coluna = 'Premium Tech Support'

In [233]:
df_churn_model_churned[coluna].value_counts(normalize=True)

Premium Tech Support
0    0.834136
1    0.165864
Name: proportion, dtype: float64

In [234]:
df_churn_model_stayed[coluna].value_counts(normalize=True)

Premium Tech Support
0    0.664863
1    0.335137
Name: proportion, dtype: float64

### `Streaming TV`

In [235]:
coluna = 'Streaming TV'

In [236]:
df_churn_model_churned[coluna].value_counts(normalize=True)

Streaming TV
0    0.564473
1    0.435527
Name: proportion, dtype: float64

In [237]:
df_churn_model_stayed[coluna].value_counts(normalize=True)

Streaming TV
0    0.634132
1    0.365868
Name: proportion, dtype: float64

### `Streaming Movies`

In [238]:
coluna = 'Streaming Movies'

In [239]:
df_churn_model_churned[coluna].value_counts(normalize=True)

Streaming Movies
0    0.562333
1    0.437667
Name: proportion, dtype: float64

In [240]:
df_churn_model_stayed[coluna].value_counts(normalize=True)

Streaming Movies
0    0.630073
1    0.369927
Name: proportion, dtype: float64

### `Streaming Music`

In [241]:
coluna = 'Streaming Music'

In [242]:
df_churn_model_churned[coluna].value_counts(normalize=True)

Streaming Music
0    0.610487
1    0.389513
Name: proportion, dtype: float64

In [243]:
df_churn_model_stayed[coluna].value_counts(normalize=True)

Streaming Music
0    0.659838
1    0.340162
Name: proportion, dtype: float64

### `Unlimited Data`

In [244]:
coluna = 'Unlimited Data'

In [245]:
df_churn_model_churned[coluna].value_counts(normalize=True)

Unlimited Data
1    0.803638
0    0.196362
Name: proportion, dtype: float64

In [246]:
df_churn_model_stayed[coluna].value_counts(normalize=True)

Unlimited Data
1    0.626788
0    0.373212
Name: proportion, dtype: float64

## Dropando Colunas

In [247]:
drop_columns = ['Streaming Music', 'Streaming Movies', 'Streaming TV', 'Device Protection Plan', 
                'Online Backup', 'Multiple Lines', 'Gender']

In [248]:
df_churn_model = df_churn_model.drop(columns=drop_columns)

In [249]:
df_churn_model

     Customer ID  Age  ...  Total Revenue  Customer Status
0     0002-ORFBO    2  ...         974.81                1
1     0003-MKNFE    3  ...         610.28                1
2     0004-TLHLJ    3  ...         415.45                0
3     0011-IGKFF    5  ...        1599.51                0
4     0013-EXCHZ    4  ...         289.54                0
...          ...  ...  ...            ...              ...
7038  9987-LUTYD    1  ...        1349.74                1
7039  9992-RRAMN    2  ...        2230.10                0
7040  9992-UJOEL    1  ...         129.99                2
7041  9993-LHIEB    1  ...        4769.69                1
7042  9995-HOTOH    2  ...        3707.60                1

[7043 rows x 25 columns]

In [250]:
filtered_path = os.path.join(PATH, 'churn_model_filtered.csv')
df_churn_model.to_csv(filtered_path, index=False)